/* defines formatting as default */
* {
    background-color: black;
    font-family: 'Inter Tight', sans-serif;
}

/* formatting for header container */
.headercontainer {
    position:relative;
}

h1 {
    position: absolute;
    padding: 10px 10px 10px 20px ;
    background-color: white;
    display: inline-block;
    font-size: 60px;
    font-family: 'Inter Tight', sans-serif;
    margin-top: 10px;
}

.mainimage {
    height: auto;
    width: 100%;
    margin: 0px;
}

h2 {
    position: absolute;
    padding: 10px 10px 10px 30px;
    background-color: white;
    color:var(--darkblue);
    font-family: 'Inter Tight', sans-serif;
    font-size: 30px;
    top:80%;
    right:0px;
}

.hide {
    display: none;
}

/* text formatting for header area */
.spacing {
    margin: 10px 0px 0px 0px;
    height: 100px;
    border-top: 10px;
}

.start-here {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 0px;
}

.form-control {
    max-width: 300px;
    display:inline-block;
    text-align:center;
}

.container2 {
    left: 50%;
    right: auto;
    text-align: center;
    padding-top: 30px;
}

/* formatting for the cards */
.history-text-artist {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 25%;
    color: lightgray;
    font-family: 'Inter Tight', sans-serif;
}

.history-text-song {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 75%;
    color: lightgray;
    font-family: 'Inter Tight', sans-serif;
}

/* media screen adjustemnt for screen resizing */
@media screen and (max-width: 1700px) {
    h2 {
        top:60%;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 10px;
        top:100%;
        left: 0%;
        background-color: black;
        color:white;
    }

    .start-here {
        font-size: 50px;
    }

    .spacing {
        height: 40px;
    }
}